<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>TODOS</title>
    <link href="./app.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <h1>TODO</h1>
    <div id="root">
      <form>
        <div>
          <input type="text" v-model="newtodo">
          <button v-on:click="addTodo">add</button>
        </div>
        <div>
          <button v-on:click="saveTodos">save</button>
        </div>
      </form>
      <ul>
        <li v-for="todo in todos">
          <label v-bind:class="{ done: todo.done }">{{todo.item}}</label>
          <button v-on:click="doneTodo(todo)">done</button>
          <button v-on:click="deleteTodo(todo)">delete</button><span class="error" v-show="todo.error">完了していないものは削除できません</span>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./app.js"></script>

  </body>
</html>
